<div>
  <div>
    <h4>Rideshare Coverage</h4>
    <br>
    <b>What’s covered?</b>
    <p>Policy in addition to your personal auto coverage that covers you during
      period 1 while driving for rideshare company</p>
    <br>
    <b>Liability</b>
    <ul>
      <li>Bodily Injury	 - $50,000/person</li>
      <li>Property Damage - $25,000</li>
    </ul>
    <b>Medical</b>
    <ul>
      <li>Medical Payment - $50,000</li>
    </ul>
    <b>Physical Damage</b>
    <ul>
      <li>Comprehensive - Actual Cash Value</li>
      <li>Collision - Actual Cash Value</li>
    </ul>
    <b>Uninsured Motorist</b>
    <ul>
      <li>Bodily Injury	 - $50,000/person, $100,000/occurrence</li>
    </ul>
    <br>
    <b>Premium:</b>	$.33/hr while waiting but not transporting passengers
  </div>

  <button routerLink="/claim" type="button" class="btn btn-primary">File Claim</button>
</div>
